{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'puzzle/css/splash_screen.css' %}" />
</head>

  <div class="container text-center bg-white shadow p-3 mb-5 mt-5 bg-white rounded py-5 w-50">
    <h1 class="text-dark">Puzzle App @ UVA</h1>
    <form method="post">
      {% csrf_token %}
      <button type="submit">{% trans "Continue" %}</button>
    </form>
  </div>


{% endblock content %}
