<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4zAcfYsYZqZKz4I1OikA8pqWxFkEk5oM&callback=initMap">
    </script>

    <title>Add puzzle </title>
</head>
<body>
    <h1>Add Puzzle Page</h1>
    <!-- MAP OBJECT -->
    <div id="map" style="height: 500px; width: 800px"></div> 
    <script>
    
        let map;
        let markers = [];
        function initMap() {
            const myLatlng = { lat: 38.033554, lng: -78.507980 };

            map = new google.maps.Map(document.getElementById("map"), {
                center: myLatlng,
                zoom: 17,
            });
            marker = new google.maps.Marker({
                position: { lat: 38.033554, lng: -78.507980 },
                map: map,
            })
            map.addListener("click", (event) => {
                addMarker(event.latLng);
            });
            function addMarker(position) {
                if (markers.length != 0){
                    markers[0].setMap(null);
                    markers.pop();
                }
                const marker = new google.maps.Marker({
                    position,
                    map,
                });
                markers.push(marker);
            }  
        
}

    </script>

    <label for="customRange1" class="form-label">Change Tolerance Level</label>
    <input type="range" class="form-range" id="tolerance_range" min="5" max="50" value="10">
    
    

    <p><a href="{% url 'submit_puzzle' hunt.id %}">Submit</a></p>
    <p><a href="{% url 'add_temp_hunt' hunt.id %}">Cancel</a></p>
</body>
</html>

<!-- 
# Resource
# URL: https://developers.google.com/maps/documentation/javascript/load-maps-js-api#dynamic-library-import

 -->