{% extends "base_no_add.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'puzzle/css/splash_screen.css' %}" />
</head>
<div class="container mx-3 my-3 text-center">
      <div class="container text-center bg-white shadow p-1 mb-2 mt-2 bg-white rounded py-3 w-50">

    <form action="{% url 'submit_hunt' hunt.id %}" method="post" onsubmit="return validateForm()">
      {% csrf_token %}
      <h3 class="text-dark">Add A Hunt</h3>
        {% if hunt.comments %}
        <div class="p-2 mb-2 bg-warning">
            <h5>Feedback</h5>
          <p >
              {{ hunt.comments }}
          </p>
            </div>
        {% endif %}
      <p>
        <label>Title:</label>
        <input type="text" class="title" name = "title" id = "title" placeholder="Give me an awesome title!"
          style="width: 350px;">
      </p>
      <p>
        <label>Summary:</label>
        <input type="text" class="summary" name = "summary" id="summary" placeholder="What's your hunt about?"
        style="width: 350px; ">
      </p>
      <script type="text/javascript">
        function validateForm() {
          var title = document.getElementById("title").value;
          var summary = document.getElementById("summary").value;
          if (title == null || title == "" || summary == null || summary == ""){
            alert("Please fill required fields before submitting hunt.");
            return false;
          } 
          var puzzle_amount = "{{hunt.puzzle_set.all.count}}"
          if (puzzle_amount <= 0){
            alert("All hunts must consist of at least one puzzle.");
            return false;
          }
        }
      </script>
      
      {% for puzzle in hunt.puzzle_set.all %}
          <p><a href="{% url 'detail_puzzle' hunt.id puzzle.id %}">
              <span style="text-decoration: none"> {{puzzle.order | add:"1"}}. Puzzle ID:{{puzzle.id}} </span>
          </a></p>
      {% endfor %}
      
      <p><a href="{% url 'add_puzzle_view' hunt.id %}" class="btn btn-info">
        <span class="text-light">Add Puzzle</span>
      </a></p>
    
      <button type="submit" class="btn btn-success">Submit Hunt</button>
    </form>
        
    <a href="{% url 'dashboard' %}" class="btn btn-danger">Go Back </a></p>

      </div>
</div>
{% endblock %}