{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
     <a class="navbar-brand" href="{% url 'dashboard' %}">Puzzle App @ UVA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <li>
          <a class="nav-link" href="{% url 'add_temp_hunt' 1 %}">Add Hunt</a>
      </li>
      <li>
          <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
      </li>
          </ul>
      </div>

</nav>
{% block content %}
{% endblock  %}
</body>
</html>