{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'puzzle/css/splash_screen.css' %}" />
</head>
<div class="container mx-3 my-3 text-center">
    <h3 class="text-light">My Dashboard</h3>
    {% for hunt in hunts %}
    <div class="container w-25">
    <a href="{% url 'detail_puzzle' pk=hunt.pk puzzle_id=1 %}" class="item-button">
        <div class="container text-center bg-white shadow  bg-white rounded py-2"
             style="text-decoration: none !important;">
            <h5>{{ hunt.title }}</h5>
            <i>{{ hunt.summary }}</i>
        </div>

    </a>
        </div>
    <p></p>
    {% endfor %}
    {{ puzzles }}
</div>
{% endblock %}
 
