<!--Learned format for passing url parameters
URL: https://stackoverflow.com/questions/65379988/django-how-to-pass-multiple-parameters-to-url
-->

{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'puzzle/css/splash_screen.css' %}" />
</head>
<div class="container text-center">
  <div class="row align-items-start mt-2">
        <div class="col">
            <h3 class="text-light">Published Puzzles</h3>
            {% for hunt, author in zipped_hunts %}
            <div class="container-large">
            <a href="{% url 'view_hunt' hunt_id=hunt.id %}" class="item-button">
                <div class="container text-center bg-white shadow  rounded py-2 btn">
                    <h5>{{ hunt.title }}</h5>
                    <i>{{ hunt.summary }}</i>
                    <br/>
                    <span>By {{ author }}</span>
                </div>
            </a>
                </div>
            <p></p>
            {% endfor %}
            {{ puzzles }}
        </div>
      {% if is_admin %}
          <div class="w-100 d-xs-block d-sm-block d-md-none"></div>
        <div class="col">
            <h3 class="text-light">Admin Queue</h3>
            {% for hunt, author in zipped_admin %}
            {% if hunt.title and hunt.summary %}
            <div class="container large">
            <a href="{% url 'view_hunt' hunt_id=hunt.id %}" class="item-button">
                <div class="container text-center bg-white shadow  rounded py-2 btn">
                    <h5 >{{ hunt.title }}</h5>
                    <i>{{ hunt.summary }}</i>
                    <a href="{% url 'approve_hunt' hunt_id=hunt.id %}" class="btn btn-success mt-3" >Approve</a>
                    <a href="{% url 'deny_hunt' hunt_id=hunt.id %}" class="btn btn-danger mt-3" >Deny</a>
                </div>
            </a>
                </div>
            {% endif %}
            <p></p>
            {% endfor %}
        </div>
      {% endif %}
    </div>
</div>
{% endblock %}
 
