<!--
# Resource
# URL: https://developers.google.com/maps/documentation/javascript/load-maps-js-api#dynamic-library-import

# Resource
# Dynamic Input Field Text Box
# URL: https://stackoverflow.com/questions/14853779/dynamically-creating-a-specific-number-of-input-form-elements
# Date Accessed: 11/2/2023
# Name: "M. Lak"
 -->

{% extends "base_no_add.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4zAcfYsYZqZKz4I1OikA8pqWxFkEk5oM&callback=initMap">
    </script>
      <link rel="stylesheet" href="{% static 'puzzle/css/splash_screen.css' %}" />

    <title>Edit Puzzle </title>
</head>
<body>

    <div class="container mx-3 my-3 text-center">
      <div class="container text-center bg-white shadow p-1 mb-2 mt-2 bg-white rounded py-3 w-75">
              <h3>Edit Puzzle</h3>
    <!-- MAP OBJECT -->
    
    <form action="{% url 'submit_edited_puzzle' puzzle.id %}" method="post" onsubmit="return validateForm()"> 
        {% csrf_token %}
        <div class="text-center">
            <p>
                <label>Prompt:</label>
                <input type="text" id="prompt" class="prompt" name="prompt" 
                value= "{{ puzzle.prompt_text }}"
                style="width: 500px;">    
            </p>
            </div>
        <div id="map" style="height: 50%"></div>
    <script>
        let map;
        let markers = [];
        let circles = [];
        radius = {{ puzzle.radius }};
        latitude = {{ puzzle.lat }};
        longitude = {{ puzzle.long }};

        function initMap() {
            const myLatlng = { lat: latitude, lng: longitude };
            // document.getElementById('latLng').value = myLatlng.latLng;
            // console.log(document.getElementById('latLng').value);
            const input = document.querySelector("#tolerance_range");
            // Add map
            map = new google.maps.Map(document.getElementById("map"), {
                center: myLatlng,
                zoom: 17, 
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            // Add marker
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
            })
            markers.push(marker);
            // Add circle
            circle = new google.maps.Circle({
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35,
                map,
                center: myLatlng,
                radius: radius
            })
            circles.push(circle);
            // Add click event
            map.addListener("click", (event) => {
                document.getElementById('latLng').value = event.latLng;
                // console.log(event.latLng);
                addMarker(event.latLng);
            });
            // Add input event
            input.addEventListener("input", (event)=>{
                radius = input.value*1.01;
                changeRadius(radius);
            })
            
            function addCircle(position, new_radius){
                if (circles.length != 0){
                    circles[0].setMap(null);
                    circles.pop();
                }
                new_circle = new google.maps.Circle({
                    strokeColor: "#FF0000",
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: "#FF0000",
                    fillOpacity: 0.35,
                    map,
                    center: position,
                    radius: new_radius
                })
                circles.push(new_circle);
            }
            function changeRadius(r){
                if (circles.length != 0){
                    circles[0].setRadius(r);
                }
            }
            function addMarker(position) {
                if (markers.length != 0){
                    markers[0].setMap(null);
                    markers.pop();
                }
                const marker = new google.maps.Marker({
                    position,
                    map,
                });
                addCircle(position, radius);
                markers.push(marker);
                
            }   
        }
    </script>
        <input type="hidden" id="latLng" name="latLng">
        <input type="hidden" id="h1" value="{{hint1.hint_string}}">
        <input type="hidden" id="h2" value="{{hint2.hint_string}}">
        <input type="hidden" id="h3" value="{{hint3.hint_string}}">
        <input type="hidden" id="h4" value="{{hint4.hint_string}}">
        <label for="customRange1" class="form-label">Change Tolerance Level</label>
        <div class="container w-50">
            <input type="range" class="form-range" id="tolerance_range" min="5" max="50" value="{{puzzle.radius}}" name="radius">
        </div>
        <p>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                $(document).ready(function() {
                    var max_fields = 4;
                    var wrapper = $(".container1");
                    var add_button = $(".add_form_field");
                    var x = "{{hints.count}}";
                    var hints = "{{hints}}";
                    

                    $(add_button).click(function(e) {
                        e.preventDefault();
                        if (x < max_fields) {
                            x++;
                            // Basically adds this html line everytime they press add and removes it everytime they press delete
                            $(wrapper).append(`<p><div><input type="text" id="hint${x}" name="hint${x}" style = "width:400px;"/><a href="#" class="delete">  Delete</a></div></p>`); //add input box
                        } else {
                            alert("You've reached the maximum of 4 hints.")
                        }
                    });
                    for (i=1; i<x; i++){
                        value = document.getElementById("h"+(i+1)).value;
                        $(wrapper).append(`<p><div><input type="text" id="hint${i+1}" name="hint${i+1}" style = "width:400px;" value="${value}"/><a href="#" class="delete">  Delete</a></div></p>`);
                    }
                    $(wrapper).on("click", ".delete", function(e) {
                        e.preventDefault();
                        $(this).parent('div').remove();
                        x--;
                    })
                });
            </script>
            <script type="text/javascript">
                function validateForm() {
                  const prompt = document.getElementById("prompt").value;
                  
                  if (prompt == null || prompt == "") {
                    alert("Please add a prompt before submitting puzzle.");
                    return false;
                  }
                  
                }
              </script>
            <div class="container1">
                <p>
                    <button class="add_form_field">Add Hint &nbsp; 
                    <span style="font-size:16px; font-weight:bold;">+ </span>
                    </button>
                </p>
                <p>
                    <div><input type="text" name="hint1" id="hint1"
                        placeholder="Each puzzle must have at least one hint!"
                        value="{{hints.first.hint_string}}"style = "width:469px;" ></div>
                </p>
                
            </div>
        </p>
        
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'add_temp_hunt' puzzle.hunt_id.id %}" class="btn btn-danger">Cancel</a>
        <p>
            <a href="{% url 'delete_puzzle' puzzle.hunt_id.id puzzle.id %}">Delete Puzzle</a>
        </p>
        
    </form>

      </div>
    </div>

</body>
</html>
{% endblock content %}