{% load socialaccount %}
{% load static %}

<html>
<head>
  <link rel="stylesheet" href="{% static 'puzzle/css/splash_screen.css' %}" />
</head>
<body>
  <h1>Puzzle App @ UVA</h1>

  {% if user.is_authenticated %}
    
    <p>Welcome, You are logged in as {{ user.username }}</p>
    <p>Your account name is {{ user.email }}</p>
    <p>{{ user.id }}</p>
    
    <p><a href="{% url 'dashboard' %}">Go to dashboard</a></p>
    <p><a href="{% url 'add_temp_hunt' 1 %}">Add a Hunt</a></p>
    <p><a href="{% url 'account_logout' %}">Sign out</a></p>

  {% else %}
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
  {% endif %}
</body>
</html>



<!--
/***************************************************************************************
*  REFERENCES
*  Author: Geoffrey Mungai
*  Date: December 18, 2020
*  URL: https://www.section.io/engineering-education/django-google-oauth/
*
*  Title: User Registration in Django using Google OAuth
*  Used for integrating social login into this template as well as doing required configuration
*  in settings.py and Google console
*
***************************************************************************************/

-->