{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
<head>
  <link rel="stylesheet" href="{% static 'puzzle/css/splash_screen.css' %}" />
</head>
<body>


  {% if user.is_authenticated %}
    <div class="container text-center bg-white shadow p-3 mb-5 mt-5 bg-white rounded py-5 w-50">
    
    <h2>Welcome, {{ user.username }}</h2>
    
    <div class="d-flex flex-column align-items-center">
      <a href="{% url 'dashboard' %}" class="btn btn-success mt-1 w-50" >Go to dashboard</a>
      <a href="{% url 'add_temp_hunt' 0 %}" class="btn btn-success mt-1 w-50">Add a Hunt</a>
      <a href="{% url 'account_logout' %}" class="btn btn-success mt-1 w-50">Sign out</a>
    </div>

  {% else %}
  <div class="container text-center bg-white shadow p-3 mb-5 mt-5 bg-white rounded py-5 w-50">
    <h1 class="text-dark">Puzzle App @ UVA</h1>
    <a href="{% provider_login_url 'google' %}" class="btn btn-success mt-3">Login With Google</a>

  </div>
  {% endif %}
</body>
</html>



<!--
/***************************************************************************************
*  REFERENCES
*  Author: Geoffrey Mungai
*  Date: December 18, 2020
*  URL: https://www.section.io/engineering-education/django-google-oauth/
*
*  Title: User Registration in Django using Google OAuth
*  Used for integrating social login into this template as well as doing required configuration
*  in settings.py and Google console
*
***************************************************************************************/

-->