{% load socialaccount %}
<html>
<body>
<h1>Puzzle App To Be Named</h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>


<!--
/***************************************************************************************
*  REFERENCES
*  Author: Geoffrey Mungai
*  Date: December 18, 2020
*  URL: https://www.section.io/engineering-education/django-google-oauth/
*
*  Title: User Registration in Django using Google OAuth
*  Used for integrating social login into this template as well as doing required configuration
*  in settings.py and Google console
*
***************************************************************************************/

-->